<!-- template.html -->

<html>
<head>
    <title>Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="chatbox">
        <div id="chatlog"></div>
        <input type="text" id="user_input">
        <button onclick="sendMessage()">Send</button>
    </div>
    
    <script>
        function sendMessage() {
            var userMessage = $('#user_input').val();
            $.post('/chatbot/', {message: userMessage}, function(data) {
                $('#chatlog').append('<p><strong>User:</strong> ' + userMessage + '</p>');
                $('#chatlog').append('<p><strong>ChatBot:</strong> ' + data.response + '</p>');
                $('#user_input').val('');
            });
        }
    </script>
</body>
</html>
